{% extends 'file/layouts/layout_base.html' %}

{% block title %}Удаление файла{% endblock %}


{% block content %}

<div class="container">
    <div class="row text-center">
        <div class="card-body">
            <form method="post" class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="my-0 font-weight-normal">Удаление файла</h4>
                        </div>
                        <div class="card-body">
                            {% csrf_token %}
                            <p>Действительно хотите удалить файл<br>{{ object.file }}<br>?</p>
                            <button type="submit" class="btn btn-lg btn-outline-danger col-3">
                                Удалить
                            </button>
                            <a href="{% url 'file:all_files' %}"
                               class="btn btn-lg btn-block btn-outline-success col-3">
                                Отмена
                            </a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}


{% block element %}




{% endblock %}

{% block blog %}



{% endblock %}
